.cdrc
.cdrc.bat
.DS_Store
.expansive-lastgen
.install-certs-modified
.local.mk
.profile
.promoted
.tags*
.test
.testme
.version
*.o
*.swp
**/*.guid
/projects/goahead-core*
/start.me
build/
cgitest
dh.pem
huge.txt
node_modules
paks/*
!paks/ejs/
projecs/*.sdf
projecs/*.sln
projecs/*.suo
projects/*-mine*
projects/*/project.xcworkspace/
projects/*/xcuserdata/
report
settings.json
settings.local.json
src/self.crt
src/self.key
src/updater/updater
test/burp*
test/cpp.cpp
test/self.crt
test/self.key
test/web/tmp/a.dat
test/web/tmp/small.dat
